legacy/n8n/n8n_v3_clone.json
{
  "name": "My workflow 3 (Endpoint Nala)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "warekcargo-v3",
        "options": {}
      },
      "id": "webhook-inbound",
      "name": "Webhook",
      "webhookId": "a1b2c3d4-e5f6-7a8b-9c0d-e1f2a3b4c5d6",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"phone\": \"{{$json.body.phone}}\",\n  \"pushName\": \"{{$json.body.pushName}}\",\n  \"message\": \"{{$json.body.message}}\",\n  \"messageType\": \"{{$json.body.messageType}}\",\n  \"isGroup\": \"{{$json.body.isGroup}}\",\n  \"isFromMe\": \"{{$json.body.isFromMe}}\"\n}"
      },
      "id": "edit-fields",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-0",
              "leftValue": "={{$json.messageType}}",
              "rightValue": "text",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "pre-filter",
      "name": "Pre-Filter Guardrail",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sby.wablas.com/api/send-message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "h4fTIwq0YQYhnFDi29f8kRrYCKXy306gxZ5AzJ4LM3lkW9J9B4Pbe0i"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { phone: $json.phone, message: '🤖 Halo, format pesan Anda belum dikenali oleh sistem cek/pendaftaran resi kami.' } }}"
      },
      "id": "balas-prefilter",
      "name": "Balas Pre-Filter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        600,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const phoneRaw = ($json.phone || '');\nreturn [{\n  json: {\n    ...$json,\n    phone: phoneRaw.toString().replace(/^08/, '628').replace(/\\D/g, '')\n  }\n}];"
      },
      "id": "sanitasi-phone",
      "name": "Sanitasi Phone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        -200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://172.17.0.1:3000/api/v1/nala/session",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.phone }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-nala-api-key",
              "value": "NalaWarekCargo2026_SecureM2M_Secret"
            }
          ]
        }
      },
      "id": "api-get-session",
      "name": "API GET Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        800,
        -200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:3000/api/v1/nala/interpret",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-nala-api-key",
              "value": "NalaWarekCargo2026_SecureM2M_Secret"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { message: $json.code === 'FOUND_ACTIVE_SESSION' ? 'Ingatan Partial: ' + JSON.stringify($json.data.partial_data) + '\\n\\nPESAN BARU: ' + $('Sanitasi Phone').item.json.message : $('Sanitasi Phone').item.json.message, phone: $('Sanitasi Phone').item.json.phone, partial_data: $json.code === 'FOUND_ACTIVE_SESSION' ? $json.data.partial_data : {} } }}",
        "options": {}
      },
      "id": "nala-interpret-api",
      "name": "Nala Interpret API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        -200
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ Object.assign({}, $json.data, { phone: $('Sanitasi Phone').item.json.phone, session_id: $('API GET Session').item.json.code === 'FOUND_ACTIVE_SESSION' ? $('API GET Session').item.json.data.session_id : undefined }) }}"
      },
      "id": "unwrap-json",
      "name": "Unwrap JSON AI",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        -200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:3000/api/v1/nala/session",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-nala-api-key",
              "value": "NalaWarekCargo2026_SecureM2M_Secret"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { phone: $json.phone, intent: $json.intent, is_data_complete: $json.is_data_complete, session_id: $json.session_id || '', missing_critical_fields: $json.missing_critical_fields || [], partial_data: { tracking_identifier: $json.tracking_identifier, hub_selection: $json.hub_selection, customer_name: $json.customer_name, tracking_number: $json.tracking_number, destination_city: $json.destination_city, item_description: $json.item_description } } }}"
      },
      "id": "api-post-session",
      "name": "API POST Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1400,
        -200
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {},
                "conditions": [
                  {
                    "id": "cond-1",
                    "leftValue": "={{ $('Unwrap JSON AI').item.json.recommended_action }}",
                    "rightValue": "PROCEED_TO_INTAKE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {},
                "conditions": [
                  {
                    "id": "cond-2",
                    "leftValue": "={{ $('Unwrap JSON AI').item.json.recommended_action }}",
                    "rightValue": "PROCEED_TO_LOOKUP",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {},
                "conditions": [
                  {
                    "id": "cond-3",
                    "leftValue": "={{ $('Unwrap JSON AI').item.json.recommended_action }}",
                    "rightValue": "REPLY_ONBOARDING",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {},
                "conditions": [
                  {
                    "id": "cond-4",
                    "leftValue": "={{ $('Unwrap JSON AI').item.json.recommended_action }}",
                    "rightValue": "REPLY_HUB_CONFIRMATION",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {},
                "conditions": [
                  {
                    "id": "cond-5",
                    "leftValue": "={{ $('Unwrap JSON AI').item.json.recommended_action }}",
                    "rightValue": "REPLY_FIELD_EXPLANATION",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {},
                "conditions": [
                  {
                    "id": "cond-6",
                    "leftValue": "={{ $('Unwrap JSON AI').item.json.recommended_action }}",
                    "rightValue": "REPLY_CLARIFICATION",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {},
                "conditions": [
                  {
                    "id": "cond-7",
                    "leftValue": "={{ $('Unwrap JSON AI').item.json.recommended_action }}",
                    "rightValue": "REPLY_FALLBACK_ADMIN",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "fallbackOutput": 6
      },
      "id": "intent-switch",
      "name": "Intent Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [
        1600,
        -200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:3000/api/v1/nala/intake",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-nala-api-key",
              "value": "NalaWarekCargo2026_SecureM2M_Secret"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { phone: $('Sanitasi Phone').item.json.phone, owner_name: $('Unwrap JSON AI').item.json.customer_name, tracking_number: $('Unwrap JSON AI').item.json.tracking_number, hub_selection: $('Unwrap JSON AI').item.json.hub_selection, destination_city: $('Unwrap JSON AI').item.json.destination_city, item_description: $('Unwrap JSON AI').item.json.item_description } }}",
        "options": {}
      },
      "id": "api-internal-intake",
      "name": "API Internal Intake",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1800,
        -300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://172.17.0.1:3000/api/v1/nala/tracking",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "awb",
              "value": "={{ $('Unwrap JSON AI').item.json.tracking_identifier }}"
            },
            {
              "name": "phone",
              "value": "={{ $('Sanitasi Phone').item.json.phone }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-nala-api-key",
              "value": "NalaWarekCargo2026_SecureM2M_Secret"
            }
          ]
        },
        "options": {}
      },
      "id": "api-internal-tracking",
      "name": "API Internal Tracking",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1800,
        -100
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{$json.error === undefined && $json.success !== false}}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "api-ok",
      "name": "API OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2000,
        -200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sby.wablas.com/api/send-message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "h4fTIwq0YQYhnFDi29f8kRrYCKXy306gxZ5AzJ4LM3lkW9J9B4Pbe0i"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { phone: $('Sanitasi Phone').item.json.phone, message: $json.human_message || 'Data telah tercatat, namun tidak ada pesan sapaan dari sistem.' } }}"
      },
      "id": "wablas-response",
      "name": "Wablas Response Sender",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2200,
        -300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sby.wablas.com/api/send-message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "h4fTIwq0YQYhnFDi29f8kRrYCKXy306gxZ5AzJ4LM3lkW9J9B4Pbe0i"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { phone: $('Sanitasi Phone').item.json.phone, message: '🔴 Mohon maaf, Nala saat ini tidak bisa terhubung dengan sistem pergudangan utama. Mohon coba lagi nanti.' } }}"
      },
      "id": "wablas-down",
      "name": "Balas API Down",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2200,
        -100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sby.wablas.com/api/send-message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "h4fTIwq0YQYhnFDi29f8kRrYCKXy306gxZ5AzJ4LM3lkW9J9B4Pbe0i"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { phone: $('Sanitasi Phone').item.json.phone, message: $('Unwrap JSON AI').item.json.clarification_question } }}"
      },
      "id": "balas-clarification",
      "name": "Balas Clarification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1800,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sby.wablas.com/api/send-message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "h4fTIwq0YQYhnFDi29f8kRrYCKXy306gxZ5AzJ4LM3lkW9J9B4Pbe0i"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { phone: $('Sanitasi Phone').item.json.phone, message: 'Halo 👋\\nSaya Nala, asisten WarekCargo yang membantu proses pengiriman barang Anda.\\n\\nWarekCargo melayani pengiriman barang melalui hub penerimaan kami.\\nUntuk info cara kerja layanan, silakan baca panduan ini:\\nhttps://warekcargo.com/faq\\n\\nSebelum lanjut, paket Anda akan dikirim ke hub penerimaan yang mana?\\nPilih salah satu:\\n- Jakarta\\n- Surabaya\\n- Makassar' } }}"
      },
      "id": "node-onboarding-bn3poaqlc",
      "name": "Balas Onboarding Baku",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1800,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sby.wablas.com/api/send-message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "h4fTIwq0YQYhnFDi29f8kRrYCKXy306gxZ5AzJ4LM3lkW9J9B4Pbe0i"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { phone: $('Sanitasi Phone').item.json.phone, message: 'Mohon maaf, saya belum bisa membantu menjawab pertanyaan Anda secara tepat.\\n\\nSilakan hubungi admin WarekCargo melalui WhatsApp berikut untuk bantuan langsung:\\nhttps://wa.me/6281310099141\\n\\nAgar lebih cepat dibantu, silakan sertakan pertanyaan Anda dan nomor resi jika sudah ada.' } }}"
      },
      "id": "node-admin-bpmog69ps",
      "name": "Balas Fallback Admin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1800,
        500
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Pre-Filter Guardrail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pre-Filter Guardrail": {
      "main": [
        [
          {
            "node": "Sanitasi Phone",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Balas Pre-Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitasi Phone": {
      "main": [
        [
          {
            "node": "API GET Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API GET Session": {
      "main": [
        [
          {
            "node": "Nala Interpret API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unwrap JSON AI": {
      "main": [
        [
          {
            "node": "API POST Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API POST Session": {
      "main": [
        [
          {
            "node": "Intent Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent Switch": {
      "main": [
        [
          {
            "node": "API Internal Intake",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "API Internal Tracking",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Balas Onboarding Baku",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Balas Clarification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Balas Clarification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Balas Clarification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Balas Fallback Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Internal Intake": {
      "main": [
        [
          {
            "node": "API OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Internal Tracking": {
      "main": [
        [
          {
            "node": "API OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API OK?": {
      "main": [
        [
          {
            "node": "Wablas Response Sender",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Balas API Down",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nala Interpret API": {
      "main": [
        [
          {
            "node": "Unwrap JSON AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {}
}